<!DOCTYPE html>
<html xmlns:date="http://exslt.org/dates-and-times" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="author" content="Mike van Riel">
    <meta name="description" content="">
    <link href="css/template.css" rel="stylesheet" media="all">
    <link href="css/scrybe.css" rel="stylesheet" media="all">
    <script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="js/jquery-ui-1.8.2.custom.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/template.js" type="text/javascript"></script>
    <script src="js/prettify/prettify.min.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="img/favicon.ico">
    {#<link rel="apple-touch-icon" href="img/apple-touch-icon.png">#}
    {#<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">#}
    {#<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">#}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a class="brand" href="index.html">{{ title }}</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="index.html">Cover</a></li>
                    <li class="dropdown">
                        <a href="#chapters" class="dropdown-toggle" data-toggle="dropdown"> Chapters<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="introduction.html"><i class="icon-th"></i> Introduction</a></li>
                            <li><a href="usage.html"><i class="icon-th"></i> Usage</a></li>
                            <li><a href="internals.html"><i class="icon-th"></i> Internals</a></li>
                            <li><a href="license.html"><i class="icon-th"></i> License</a></li>
                        </ul>
                    </li>
                    <li><a href="glossary.html">Glossary</a></li>
                    <li><a href="sitemap.html">Index</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="go_to_top"><a href="#___" style="color: inherit">Back to top <i class="icon-upload icon-white"></i></a></div>
</div>
<div id="___" class="container">
    <noscript>
        <div class="alert alert-warning">
            Javascript is disabled; several features are only available if Javascript is enabled.
        </div>
    </noscript>
    <div class="hero-unit">
        <h1>{{ title }}</h1>
        <h2>Documentation</h2>
    </div>

    <div class="row">
        {% if toc %}
        <div class="span4 toc">
            <h1>Table of Contents</h1>
        </div>
        {% endif %}
        <div class="span{% if toc%}8{%else%}12{%endif%}">
            <div class="well">
                {{ contents }}
            </div>
        </div>
    </div>

    <div class="row">
        <footer class="span12">
            Template is built using <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap 2</a> and icons provided by
            <a href="http://glyphicons.com/">Glyphicons</a>.<br> Documentation is powered by
            <a href="http://www.phpdoc.org/">Scrybe</a><br>
        </footer>
    </div>
</div>
</body>
</html>